.container {
  /* NOTHING */
}

.empty {
  /* NOTHING */
}

.creative {
  /* NOTHING */
}

.fixed {
  /* NOTHING */
}

.flexItemHandle {
  /* NOTHING */
}

.flexContainer {
  display: flex;
}
.horizontal > .flexContainer { flex-direction: row; }
.vertical > .flexContainer { flex-direction: column; }

.flexItem {
  flex: 1;
}

.flexItemHandle {
  /* NOTHING */
}

/* compose */

.container.creative > .flexContainer {
  min-height: 50px;
}
