.container {
  position: relative;
}

.empty {
  /* NOTHING */
}

.creative {
  /* NOTHING */
}

.rootContainer {
  position: relative;
}

.rootItemHandle {
  /* NOTHING */
}

/* compose */

.container.creative > .rootContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container.creative.empty > .rootContainer {
  outline: 1px dashed #2196f355;
  min-height: 400px;
}
