.workspace {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.material-panel {
  width: 200px;
  outline: 2px solid #2196f3;
  padding: 5px;
  margin: 10px;
}
.material-panel .component-item-wrapper {
  padding: 10px;
  cursor: move;
  background-color: #e6f4fa;
  margin: 5px 0;
}
.material-panel .component-item-wrapper.ghost,
.material-panel .component-item-wrapper:focus,
.material-panel .component-item-wrapper:hover {
  outline: 1px solid #2196f3;
}

.view-container {
  flex: 1;
  width: 0;
  margin: 10px 5px;
  overflow-y: auto;
  height: calc(100vh - 40px);
}
.view-container .tree-root {
  padding: 20px 5px 200px;
  min-height: 300px;
  box-sizing: border-box;
  border: 1px dashed #2196f3;
}
.view-container .tree-root:empty {
  background-color: #e6f4fa;
  position: relative;
}
.view-container .tree-root:empty::after {
  content: "drop here";
  position: absolute;
  top: 40%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 22px;
  color: #78909C;
}
.view-container .tree-node-wrapper,
.view-container .component-item-wrapper {
  outline: 1px solid #2196f3;
  cursor: move;
  margin: 10px;
  min-height: 1em;
  min-width: 100px;
  backgroundColor: white;
}
.view-container .component-item-wrapper {
  padding: 10px;
  min-height: unset;
}
.view-container .tree-node-wrapper.active {
  outline: 2px solid #7e57c2;
}
.view-container .ghost {
  background-color: #e6f4fa;
}
.view-container .active.ghost {
  background-color: #e6e6fa;
}
.view-container .container {
  display: flex;
  min-height: 100px;
}
.view-container .container.horizontal {
  flex-direction: row;
}
.view-container .container.horizontal > div {
  flex: 1;
  width: 0;
}
.view-container .container.vertical {
  flex-direction: column;
}

.active-panel {
  width: 300px;
  outline: 2px solid #7e57c2;
  padding: 5px;
  margin: 10px;
}
.active-panel-placeholder {
  width: 300px;
  padding: 5px;
  margin: 10px;
}
.active-panel pre,
.active-panel .config-wrapper {
  padding: 10px;
  background-color: lavender;
  overflow: auto;
}
